/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */
.container {
	display: flex;
    flex-wrap: wrap;
	width: 800px;
	height: 1550px;
	margin: auto;
	justify-content: space-between;
	/*align-content: space-between;*/	
}

header {
	display: flex;
	width: 800px;
	background-color: dodgerblue;
	margin-top: 0;
	padding: 10px;
	position: fixed;
	z-index: 1;
	justify-content: center;
	justify-content: space-between;
    align-items: center;
    
}

header nav a {
	margin:0 20px;
	text-decoration: none;
	color: black;
	font-size: 16px;	
	font-family: 'Bangers', cursive;	
}

.services-header-section {
    margin-top: 50px;
}

.services-header-section .services-header-img-div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 800px;
    height: 250px;
}

.services-header-section .services-header-img-div img {
    width: 100%;
}

.services-header-section .services-header-content-div p {
    text-align: justify;
}

.main-content-section {
	display: flex;
	flex-wrap: wrap;
	width: 800px;
	height: 800px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;	
	justify-content: space-between; /*space between each item on the main axis*/
	align-content: space-around;	/*space around each item on the cross axis*/
}

.main-content-section .main-content-div {
    display: flex;
    flex-direction: column;
    width: 375px;    
    height: 200px;
    border: 1px solid black;
    justify-content: space-around;
    
}

/*creates left margin space between the headers, paragraphs, and buttons in the main content section boxes*/
.main-content-section .main-content-div h2, p, button {
    margin-left: 5px;
}
   

.main-content-section .main-content-div button {
    width: 30%;
}

.services-section {
    display: flex;	
    flex-wrap: wrap;
	width: 800px;    
    height: 250px;
    justify-content: space-between;     
}



.services-section .services-facts-div {
    display: flex;
    width: 375px;
    flex-direction: column;   
    justify-content: space-around; /*space around each item on the cross (y) axis because display is column*/
    
}

.services-section .services-facts-img-div {
    display: flex;
    width: 375px;
    flex-direction: column;   
    justify-content: space-around;    
    
}

.services-section .services-facts-img-div .services-info-img {
    width: 375px;
    height: 250px;    
    
}

.services-section .services-facts-div ul{
    list-style-type: square;
    list-style-position: inside;
    /*margin-left: 5%;*/
    
}

footer {
    display: flex;
    width: 800px;
    height: auto;
	justify-content: center;
	align-items: center;
}

/***STRETCH TASK***/

/***W3Schools July 10, 2019: "We should change the design when the width gets larger than 768px. This will make our design Mobile First"***/

/* A media query that defines a rule for screens smaller than 768 pixels.*/
@media only screen and (max-width: 768px) {

    /*height auto - the element will automatically adjust its height to allow its content to be displayed correctly.*/
    /*width: 100% - Make this element's content area exactly equal to the explicit width of its parent — but only if its parent has an explicit width. */
    /*margin: 0 - removes extra spaces created by margins around the specified elements */
    /*when the screen is resized below 768px, each indicated div or area wraps and occupies the entire screen width thereby stacking on top of each other*/
    .container {
        width: 100%;
        height: auto;
        justify-content: space-between;
        align-items: space-around; 
    }

    header {
        width: 100%;
        height: auto;   
        justify-content: flex-start;
        align-items: flex-start;          
	
    }
       
    header nav ul {
        width: 100%;
        height: auto;   
    }

    header nav {
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
    } 
    
    header nav a {
        margin:0 3px;
        font-size: 100%;	
        font-family: 'Bangers', cursive;	
    }

   
    header .logo-div {
        width: 50%;
        height: auto;
        margin-left: 5%;
    }

    header .logo-div img  {
        width: 100%;
        height: auto;
    }

    .services-header-section {
        width: 100%;
        height: auto;
        margin-bottom: 2%;
    }

    .main-content-section {
        height: auto;
        
    }

    .services-section {
        height: auto;
    }
   
    .main-content-section .main-content-div {
        width: 100%;
        height: auto;
        margin-bottom: 2%;
        
        
    }

    .services-section {
        margin-bottom: 2%;
    }

    .services-section .services-facts-div {
        width: 100%
        
    }
    
    .services-section .services-facts-img-div {
        width: 100%;
    }

    .services-section .services-facts-img-div img {
        width: 100%;
    }

    footer {
        width: 100%;
    }

    .services-header-section .services-header-img-div {
        width: 100%;
        margin: 0;
    }
    
    .services-header-section .services-header-img-div img {
        width: 100%;
        margin: 0;
    }

    footer {
       width: 100%;

       /*left align or display the footer content at the start of the flex container when the screen is resized*/
       justify-content: flex-start;
        
    }

    
}
